NODE_ENV=development
PORT=4000
API_PREFIX=/api
DATABASE_URL=postgresql://postgres:password@localhost:5432/taxmate
REDIS_URL=redis://localhost:6379
JWT_SECRET=3327cd1cf2379d7533d84ff7342d7b465b8fa6f7a4cd37b13049f9931f05de8b
JWT_REFRESH_SECRET=92852ff0e95a2a20f9f6a4341d5af7a445c2b09e4bdbdbd2eb4d2af4dab209b7
NEXT_PUBLIC_APP_URL=http://localhost:3000
VERIFYME_API_KEY=
VERIFYME_BASE_URL=https://vapi.verifyme.ng
MONNIFY_API_KEY=
MONNIFY_SECRET_KEY=
MONNIFY_CONTRACT_CODE=
MONNIFY_BASE_URL=https://api.monnify.com
CIRCLE_API_KEY=
CIRCLE_API_BASE_URL=https://api.circle.com
CIRCLE_ENTITY_SECRET=
CIRCLE_ENTITY_SECRET_CIPHERTEXT=
CIRCLE_RECOVERY_FILE_PATH=backend/.circle/recovery-file.json
CIRCLE_WALLET_SET_ID=
CIRCLE_ADMIN_WALLET_ID=
CIRCLE_WALLET_SET_NAME=taxmate-wallet-set
CIRCLE_ADMIN_WALLET_BLOCKCHAIN=BASE-SEPOLIA
CIRCLE_ADMIN_WALLET_ACCOUNT_TYPE=SCA
CIRCLE_BASE_URL=https://api.circle.com
PINATA_JWT=
PINATA_GATEWAY_URL=https://gateway.pinata.cloud/ipfs
RESEND_API_KEY=
RESEND_FROM_EMAIL=noreply@taxmate.ng
TAXMATE_CONTRACT_ADDRESS=
BASE_RPC_URL=
